#header{
    background-color: aliceblue;
    padding: 10px;
}
#container { 
display: flex;
height: 100%;
flex-wrap: wrap;
flex-direction: row;
justify-content:center;
border: none;
background-color: antiquewhite;
}
h1{
   text-align: center;
   font-family: 'Dancing Script', cursive;
   font-size: 4em;
   font-weight: 700;
   margin: 0px;
}
#container_child{
   border: 1px solid black;
   margin: 20px;
   background-color: aliceblue;
   width: 300px;
   height: 400px;
}
h2{
    margin-top: 0px;
    text-align: center;
    font-variant: small-caps;
}
footer{
    border-top: 1px solid black;
    background-color: aliceblue;
}
#copyright{
    text-align: left;
    border-top: 1px solid darkblue;
    margin-top: 10px;
    background-color: darkblue;
    color: white;
    height: 30px
}
#copyright > p{
    text-align: left;
    margin-top: 5px;
    font-size: 15px;
    padding: 0%;
    font-family: 'Times New Roman';
    margin-left: 5px;
}
#footercontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
}
#address_customer{
    width: 300px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;

}
#address_customer > h2{
    margin: 0px;
}
#address_customer > p{
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0%;
    font-size: 18px;
    font-family: 'Times New Roman';
}
a{
    font-variant: small-caps;
    font-size: 25px;
    font-weight: bold;
    color:darkblue;
    text-decoration:none ;
}
a:hover{
    color: brown;
}
a:active{
    color: red;
}
img{
    width: 250px;
    height: 200px;
    object-fit:contain;
}
summary{
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 1em;
}
.price{
    color: darkblue;
    font-family: "Verdana";
    font-size: 20px;
    font-weight: bold;
}
p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-family: Arial;
}
button{
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    background-color: antiquewhite;
    color:darkblue;
}
button:hover{
    background: rgb(196, 157, 108);
}
button:active{
    background-color:rgb(169, 113, 46);
    color: skyblue;
}
.dollar{
    font-size: 15px;
}